<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gubang.mapper.MenuMapper">
	<resultMap id="BaseResultMap" type="com.gubang.entity.Menu">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
		<result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
		<result column="menu_name" property="menuName" jdbcType="VARCHAR" />
		<result column="menu_params" property="menuParams" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="is_title" property="isTitle" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="is_del" property="isDel" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		tsm.id,
		tsm.menu_url,
		tsm.menu_icon,
		tsm.menu_name,
		tsm.menu_params,
		tsm.type,
		tsm.is_title,
		tsm.parent_id,
		tsm.is_del,
		tsm.create_by,
		tsm.create_date,
		tsm.update_by,
		tsm.update_date
	</sql>

	<insert id="insert" parameterType="com.gubang.entity.ProductSaleApply">
		insert into
		t_product_sale_apply (
		id,
		product_sale_id,
		cus_name,
		cus_telphone,
		fault_point,
		apply_status,
		addressee,
		address,
		address_phone,
		waybill_number,
		type,
		is_del,
		create_by,
		create_date,
		update_by,
		update_date
		)
		values
		(
		#{id,jdbcType=VARCHAR},
		#{productSaleId,jdbcType=VARCHAR},
		#{cusName,jdbcType=VARCHAR},
		#{cusTelphone,jdbcType=VARCHAR},
		#{faultPoint,jdbcType=VARCHAR},
		#{applyStatus,jdbcType=VARCHAR},
		#{addressee,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{addressPhone,jdbcType=VARCHAR},
		#{waybillNumber,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{isDel,jdbcType=VARCHAR},
		#{createBy,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR},
		#{updateDate,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.gubang.entity.Menu">
		insert into t_sys_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test='id != null and id != ""'>
				id,
			</if>
			<if test='menuUrl != null and menuUrl != ""'>
				menu_url,
			</if>
			<if test='menuIcon != null and menuIcon != ""'>
				menu_icon,
			</if>
			<if test='menuName != null and menuName != ""'>
				menu_name,
			</if>
			<if test='menuParams != null and menuParams != ""'>
				menu_params,
			</if>
			<if test='type != null and type != ""'>
				type,
			</if>
			<if test='isTitle != null and isTitle != ""'>
				is_title,
			</if>
			<if test='parentId != null and parentId != ""'>
				parent_id,
			</if>
			<if test='isDel != null and isDel != ""'>
				is_del,
			</if>
			<if test='createBy != null and createBy != ""'>
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test='updateBy != null and updateBy != ""'>
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test='id != null and id != ""'>
				#{id,jdbcType=VARCHAR},
			</if>
			<if test='menuUrl != null and menuUrl != ""'>
				#{menuUrl,jdbcType=VARCHAR},
			</if>
			<if test='menuIcon != null and menuIcon != ""'>
				#{menuIcon,jdbcType=VARCHAR},
			</if>
			<if test='menuName != null and menuName != ""'>
				#{menuName,jdbcType=VARCHAR},
			</if>
			<if test='menuParams != null and menuParams != ""'>
				#{menuParams,jdbcType=VARCHAR},
			</if>
			<if test='type != null and type != ""'>
				#{type,jdbcType=VARCHAR},
			</if>
			<if test='isTitle != null and isTitle != ""'>
				#{isTitle,jdbcType=VARCHAR},
			</if>
			<if test='parentId != null and parentId != ""'>
				#{parentId,jdbcType=VARCHAR},
			</if>
			<if test="isDel != null">
				#{isDel,jdbcType=VARCHAR},
			</if>
			<if test='createBy != null and createBy != ""'>
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test='updateBy != null and updateBy != ""'>
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.gubang.entity.Menu">
		update t_sys_menu
		<set>
			<if test='menuUrl != null and menuUrl != ""'>
				menu_url = #{menuUrl,jdbcType=VARCHAR},
			</if>
			<if test='menuIcon != null and menuIcon != ""'>
				menu_icon = #{menuIcon,jdbcType=VARCHAR},
			</if>
			<if test='menuName != null and menuName != ""'>
				menu_name = #{menuName,jdbcType=VARCHAR},
			</if>
			<if test='menuParams != null and menuParams != ""'>
				menu_params = #{menuParams,jdbcType=VARCHAR},
			</if>
			<if test='type != null and type != ""'>
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test='isDel != null and isDel != ""'>
				is_del = #{isDel,jdbcType=VARCHAR},
			</if>
			<if test='updateBy != null and updateBy != ""'>
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<select id="selectMenuByGroup" resultMap="BaseResultMap" parameterType="com.gubang.vo.MenuVo">
		select
			<include refid="Base_Column_List" />
		from
			t_menu_center tmc,
			t_sys_menu tsm
		<where>
			tmc.t_sys_menu_id = tsm.id
			and
			tmc.is_del = 'N'
			and
			tsm.is_del = 'N'
			<if test='groupId != null and groupId != ""'>
				and tmc.t_sys_group_id = #{groupId,jdbcType=VARCHAR}
			</if>
			<if test='type != null and type != ""'>
				and tsm.type = #{type,jdbcType=VARCHAR}
			</if>
		</where>
		order by
		tsm.index,
		tsm.create_date
	</select>

	<select id="getMenu" resultMap="BaseResultMap" parameterType="com.gubang.entity.Menu">
		select
		<include refid="Base_Column_List" />
		from
			t_sys_menu tsm
		<where>
			tsm.is_del = 'N'
			<if test='menuName != null and menuName != ""'>
				and tsm.menu_name = #{menuName,jdbcType=VARCHAR}
			</if>
			<if test='type != null and type != ""'>
				and tsm.type = #{type,jdbcType=VARCHAR}
			</if>
		</where>
		order by 
			tsm.create_date desc
	</select>

</mapper>