<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gubang.mapper.ProductSeriesInfoMapper">
	<resultMap id="BaseResultMap" type="com.gubang.entity.ProductSeriesInfo">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="series_code" jdbcType="VARCHAR" property="seriesCode" />
		<result column="series" jdbcType="VARCHAR" property="series" />
		<result column="sort" jdbcType="DECIMAL" property="sort" />
		<result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
	</resultMap>
	<sql id="Base_Column_List">
		id, series_code, series, sort, del_flag, create_by, create_date,
		update_by, update_date
	</sql>
	
	<select id="get" parameterType="com.gubang.entity.ProductSeriesInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_product_series
		<where>
			<if test="id != null">
				and id = #{id,jdbcType=VARCHAR}
			</if>
			<if test="seriesCode != null and seriesCode != ''">
				and series_code like
					concat('%',#{seriesCode,jdbcType=VARCHAR},'%')
			</if>
			<if test="series != null and series != ''">
				and series like
					concat('%',#{series,jdbcType=VARCHAR},'%')
			</if>
			<if test="sort != null  and sort != ''">
				and sort = #{sort,jdbcType=DECIMAL}
			</if>
			<if test="delFlag != null">
				and del_flag = #{delFlag,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null">
				and create_by = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				and create_date = #{createDate,jdbcType=TIMESTAMP}
			</if>
			<if test="updateBy != null">
				and update_by = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDate != null">
				and update_date = #{updateDate,jdbcType=TIMESTAMP}
			</if>
		</where>
		
		order by
		create_date,
		sort
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_product_series
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_product_series
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.gubang.entity.ProductSeriesInfo">
		insert into t_product_series (id, series_code, series,
		sort, del_flag, create_by,
		create_date, update_by, update_date
		)
		values (#{id,jdbcType=VARCHAR}, #{seriesCode,jdbcType=VARCHAR},
		#{series,jdbcType=VARCHAR},
		#{sort,jdbcType=DECIMAL}, #{delFlag,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
		#{updateDate,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.gubang.entity.ProductSeriesInfo">
		insert into t_product_series
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="seriesCode != null">
				series_code,
			</if>
			<if test="series != null">
				series,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="seriesCode != null">
				#{seriesCode,jdbcType=VARCHAR},
			</if>
			<if test="series != null">
				#{series,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=DECIMAL},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.gubang.entity.ProductSeriesInfo">
		update t_product_series
		<set>
			<if test="seriesCode != null">
				series_code = #{seriesCode,jdbcType=VARCHAR},
			</if>
			<if test="series != null">
				series = #{series,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=DECIMAL},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.gubang.entity.ProductSeriesInfo">
		update t_product_series
		set series_code = #{seriesCode,jdbcType=VARCHAR},
		series = #{series,jdbcType=VARCHAR},
		sort = #{sort,jdbcType=DECIMAL},
		del_flag = #{delFlag,jdbcType=VARCHAR},
		create_by = #{createBy,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=VARCHAR},
		update_date = #{updateDate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<!-- <resultMap id="BaseResultMap" type="com.gubang.entity.ProductSeriesInfo"> 
		<id column="id" jdbcType="VARCHAR" property="id" /> <result column="series_code" 
		jdbcType="VARCHAR" property="seriesCode" /> <result column="series" jdbcType="VARCHAR" 
		property="series" /> <result column="sort" jdbcType="DECIMAL" property="sort" 
		/> <result column="del_flag" jdbcType="VARCHAR" property="delFlag" /> <result 
		column="create_by" jdbcType="VARCHAR" property="createBy" /> <result column="create_date" 
		jdbcType="TIMESTAMP" property="createDate" /> <result column="update_by" 
		jdbcType="VARCHAR" property="updateBy" /> <result column="update_date" jdbcType="TIMESTAMP" 
		property="updateDate" /> </resultMap> <sql id="Base_Column_List"> id, series_code, 
		series, sort, del_flag, create_by, create_date, update_by, update_date </sql> 
		<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap"> 
		select <include refid="Base_Column_List" /> from t_product_series where id 
		= #{id,jdbcType=VARCHAR} </select> <delete id="deleteByPrimaryKey" parameterType="java.lang.String"> 
		delete from t_product_series where id = #{id,jdbcType=VARCHAR} </delete> 
		<insert id="insert" parameterType="com.gubang.entity.ProductSeriesInfo"> 
		insert into t_product_series (id, series_code, series, sort, del_flag, create_by, 
		create_date, update_by, update_date ) values (#{id,jdbcType=VARCHAR}, #{seriesCode,jdbcType=VARCHAR}, 
		#{series,jdbcType=VARCHAR}, #{sort,jdbcType=DECIMAL}, #{delFlag,jdbcType=VARCHAR}, 
		#{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
		#{updateDate,jdbcType=TIMESTAMP} ) </insert> <insert id="insertSelective" 
		parameterType="com.gubang.entity.ProductSeriesInfo"> insert into t_product_series 
		<trim prefix="(" suffix=")" suffixOverrides=","> <if test="id != null"> id, 
		</if> <if test="seriesCode != null"> series_code, </if> <if test="series 
		!= null"> series, </if> <if test="sort != null"> sort, </if> <if test="delFlag 
		!= null"> del_flag, </if> <if test="createBy != null"> create_by, </if> <if 
		test="createDate != null"> create_date, </if> <if test="updateBy != null"> 
		update_by, </if> <if test="updateDate != null"> update_date, </if> </trim> 
		<trim prefix="values (" suffix=")" suffixOverrides=","> <if test="id != null"> 
		#{id,jdbcType=VARCHAR}, </if> <if test="seriesCode != null"> #{seriesCode,jdbcType=VARCHAR}, 
		</if> <if test="series != null"> #{series,jdbcType=VARCHAR}, </if> <if test="sort 
		!= null"> #{sort,jdbcType=DECIMAL}, </if> <if test="delFlag != null"> #{delFlag,jdbcType=VARCHAR}, 
		</if> <if test="createBy != null"> #{createBy,jdbcType=VARCHAR}, </if> <if 
		test="createDate != null"> #{createDate,jdbcType=TIMESTAMP}, </if> <if test="updateBy 
		!= null"> #{updateBy,jdbcType=VARCHAR}, </if> <if test="updateDate != null"> 
		#{updateDate,jdbcType=TIMESTAMP}, </if> </trim> </insert> <update id="updateByPrimaryKeySelective" 
		parameterType="com.gubang.entity.ProductSeriesInfo"> update t_product_series 
		<set> <if test="seriesCode != null"> series_code = #{seriesCode,jdbcType=VARCHAR}, 
		</if> <if test="series != null"> series = #{series,jdbcType=VARCHAR}, </if> 
		<if test="sort != null"> sort = #{sort,jdbcType=DECIMAL}, </if> <if test="delFlag 
		!= null"> del_flag = #{delFlag,jdbcType=VARCHAR}, </if> <if test="createBy 
		!= null"> create_by = #{createBy,jdbcType=VARCHAR}, </if> <if test="createDate 
		!= null"> create_date = #{createDate,jdbcType=TIMESTAMP}, </if> <if test="updateBy 
		!= null"> update_by = #{updateBy,jdbcType=VARCHAR}, </if> <if test="updateDate 
		!= null"> update_date = #{updateDate,jdbcType=TIMESTAMP}, </if> </set> where 
		id = #{id,jdbcType=VARCHAR} </update> <update id="updateByPrimaryKey" parameterType="com.gubang.entity.ProductSeriesInfo"> 
		update t_product_series set series_code = #{seriesCode,jdbcType=VARCHAR}, 
		series = #{series,jdbcType=VARCHAR}, sort = #{sort,jdbcType=DECIMAL}, del_flag 
		= #{delFlag,jdbcType=VARCHAR}, create_by = #{createBy,jdbcType=VARCHAR}, 
		create_date = #{createDate,jdbcType=TIMESTAMP}, update_by = #{updateBy,jdbcType=VARCHAR}, 
		update_date = #{updateDate,jdbcType=TIMESTAMP} where id = #{id,jdbcType=VARCHAR} 
		</update> -->

	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_product_series
		where del_flag = 'N' order by sort,create_date
	</select>
</mapper>