<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gubang.mapper.UserGroupMapper">
	<resultMap id="BaseResultMap" type="com.gubang.entity.GroupUserCenter">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="t_sys_group_id" property="tSysGroupId"
			jdbcType="VARCHAR" />
		<result column="t_sys_user_id" property="tSysUserId" jdbcType="VARCHAR" />
		<result column="is_del" property="isDel" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id,
		t_sys_group_id,
		t_sys_user_id,
		is_del,
		create_by,
		create_date,
		update_by,
		update_date
	</sql>

	<insert id="insertRoleUser" parameterType="com.common.dto.RelationGroupUserDto">
		insert into t_user_group_center
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			t_sys_user_id,
			t_sys_group_id,
			<if test='isDel != null and isDel != ""'>
				is_del,
			</if>
			<if test='createBy != null and createBy != ""'>
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test='updateBy != null and updateBy != ""'>
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
		</trim>
		<trim prefix="values" suffixOverrides=",">
			<foreach collection="ids" index="index" item="item"
				separator=",">
				<trim prefix="(" suffix=")" suffixOverrides=",">
					replace(UUID(),'-',''),
					#{item},
					#{roleId},
					<if test="isDel != null">
						#{isDel,jdbcType=VARCHAR},
					</if>
					<if test='createBy != null and createBy != ""'>
						#{createBy,jdbcType=VARCHAR},
					</if>
					<if test="createDate != null">
						#{createDate,jdbcType=TIMESTAMP},
					</if>
					<if test='updateBy != null and updateBy != ""'>
						#{updateBy,jdbcType=VARCHAR},
					</if>
					<if test="updateDate != null">
						#{updateDate,jdbcType=TIMESTAMP},
					</if>
				</trim>
			</foreach>
		</trim>
	</insert>

	<select id="getGroupUserIds" resultType="String"
		parameterType="com.gubang.entity.GroupUserCenter">
		select
		t_sys_user_id id
		from
		t_user_group_center
		<where>
			and is_del = 'N'
			<if test='tSysGroupId != null and tSysGroupId != ""'>
				and t_sys_group_id = #{tSysGroupId,jdbcType=VARCHAR}
			</if>
			<if test='tSysUserId != null and tSysUserId != ""'>
				and t_sys_user_id = #{tSysUserId,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<update id="deleteRoleUser" parameterType="com.common.dto.RelationGroupUserDto">
		update t_user_group_center tmc
		<set>
			tmc.is_del = 'Y',
			<if test='updateBy != null and updateBy != ""'>
				tmc.update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				tmc.update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		<where>
			<if test='roleId != null and roleId != ""'>
				and tmc.t_sys_group_id = #{roleId,jdbcType=VARCHAR}
			</if>
		</where>
	</update>


</mapper>