<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gubang.mapper.UserInfoMapper">
	<resultMap id="BaseResultMap" type="com.gubang.entity.UserInfo">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="open_id" jdbcType="VARCHAR" property="openId" />
		<result column="account" jdbcType="VARCHAR" property="account" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="nick_name" jdbcType="VARCHAR" property="nickName" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
		<result column="gender" jdbcType="VARCHAR" property="gender" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="province" jdbcType="VARCHAR" property="province" />
		<result column="country" jdbcType="VARCHAR" property="country" />
		<result column="token" jdbcType="VARCHAR" property="token" />
		<result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="is_del" jdbcType="VARCHAR" property="isDel" />
		<result column="is_pass" jdbcType="CHAR" property="isPass" />
		<result column="group_id" jdbcType="VARCHAR" property="groupId" />
	</resultMap>
	<sql id="Base_Column_List">
		id, open_id, account, password, nick_name, phone, avatar_url, gender,
		city, province,
		country, token, last_login_date, create_by, create_date, update_by,
		update_date,
		is_del, is_pass,group_id
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_user
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.gubang.entity.UserInfo">
		insert into t_user (id, open_id, account,
		password, nick_name, phone,
		avatar_url, gender, city,
		province, country, token,
		last_login_date, create_by, create_date,
		update_by, update_date, is_del,
		is_pass,group_id)
		values (#{id,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR},
		#{account,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
		#{avatarUrl,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR},
		#{lastLoginDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{isDel,jdbcType=VARCHAR},
		#{isPass,jdbcType=CHAR},#{groupId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.gubang.entity.UserInfo">
		insert into t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="openId != null">
				open_id,
			</if>
			<if test="account != null">
				account,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="nickName != null">
				nick_name,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="avatarUrl != null">
				avatar_url,
			</if>
			<if test="gender != null">
				gender,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="country != null">
				country,
			</if>
			<if test="token != null">
				token,
			</if>
			<if test="lastLoginDate != null">
				last_login_date,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="isDel != null">
				is_del,
			</if>
			<if test="isPass != null">
				is_pass,
			</if>
			<if test="groupId != null">
				group_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="openId != null">
				#{openId,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
				#{account,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				#{nickName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="avatarUrl != null">
				#{avatarUrl,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				#{gender,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				#{country,jdbcType=VARCHAR},
			</if>
			<if test="token != null">
				#{token,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginDate != null">
				#{lastLoginDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="isDel != null">
				#{isDel,jdbcType=VARCHAR},
			</if>
			<if test="isPass != null">
				#{isPass,jdbcType=CHAR},
			</if>
			<if test="groupId != null">
				#{groupId,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.gubang.entity.UserInfo">
		update t_user
		<set>
			<if test="openId != null">
				open_id = #{openId,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
				account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				nick_name = #{nickName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="avatarUrl != null">
				avatar_url = #{avatarUrl,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				gender = #{gender,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				country = #{country,jdbcType=VARCHAR},
			</if>
			<if test="token != null">
				token = #{token,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginDate != null">
				last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="isDel != null">
				is_del = #{isDel,jdbcType=VARCHAR},
			</if>
			<if test="isPass != null">
				is_pass = #{isPass,jdbcType=CHAR},
			</if>
			<if test="groupId != null">
				group_id = #{groupId,jdbcType=CHAR},
			</if>

		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.gubang.entity.UserInfo">
		update t_user
		set open_id = #{openId,jdbcType=VARCHAR},
		account = #{account,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		nick_name = #{nickName,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		avatar_url = #{avatarUrl,jdbcType=VARCHAR},
		gender = #{gender,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		province = #{province,jdbcType=VARCHAR},
		country = #{country,jdbcType=VARCHAR},
		token = #{token,jdbcType=VARCHAR},
		last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
		create_by = #{createBy,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=VARCHAR},
		update_date = #{updateDate,jdbcType=TIMESTAMP},
		is_del = #{isDel,jdbcType=VARCHAR},
		is_pass = #{isPass,jdbcType=CHAR},
		group_id=#{groupId,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<select id="findByAccount" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user
		where 
		is_del = 'N'
		and
		account = #{account,jdbcType=VARCHAR}
	</select>
	
	<select id="getUser" parameterType="com.gubang.entity.UserInfo"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user
		<where>
			<if test='account != null and account != ""'>
				and account like
				concat('%',#{account,jdbcType=VARCHAR},'%')
			</if>
			<if test='nickName != null and nickName != ""'>
				and nick_name like
				concat('%',#{nickName,jdbcType=VARCHAR},'%')
			</if>
		</where>
		order by create_date desc
	</select>

</mapper>